.button {
    background-color:  #d1d1e0;
    margin-top: 7px;
}

.button:hover {
    background-color:  #5c5c8a;
    margin-top: 7px;
}
.taskInput{
    margin-right: 30px;
    margin-bottom: 40px;
}
.formInput{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
